<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310321124196-c8onnlv0d2qs1je97senjpjko08ievq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310321124196-c8onnlv0d2qs1je97senjpjko08ievq0</string>
	<key>API_KEY</key>
	<string>AIzaSyBouyg0I0FVs_tl4VCyKw4zdlP3hkmd4Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>310321124196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geotagar</string>
	<key>PROJECT_ID</key>
	<string>geotagar-d2d9d</string>
	<key>STORAGE_BUCKET</key>
	<string>geotagar-d2d9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310321124196:ios:39e6e128895fe6f4e52071</string>
</dict>
</plist>